Repository Cusymint/cusymint, changes with the labels that .github/labeler.yml gives for each.
All labels: front, engine, devops

Fix alignment related undefined behaviour
  engine/src/Utils/Cuda.cu
Labels: engine, devops

Add initializer rules to clang-format
  engine/.clang-format
Labels: engine, devops

Add DeviceArray and ExpressionArray
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Utils/DeviceArray.cuh
Labels: engine, devops

Fix ownership issues
  engine/src/Utils/DeviceArray.cuh
Labels: engine, devops

Improve DeviceArray and ExpressionArray
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Utils/DeviceArray.cuh
Labels: engine, devops

Fix CMakeLists.txt
  engine/CMakeLists.txt
Labels: engine, devops

Ignore warnings that are annoying with CUDA
  engine/.clangd
Labels: engine, devops

Use DeviceArray and ExpressionArray in high level APIs
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Symbol.cuh
  engine/src/Utils/DeviceArray.cuh
  engine/src/main.cu
Labels: engine, devops

apply suggestions, add arccot, arctan, cot, coth, tan, tanh keywords
  engine/src/Parser/Parser.cu
  engine/src/Parser/Parser.cuh
  engine/src/Parser/Scanner.cu
  engine/src/Parser/Scanner.cuh
Labels: engine, devops

Add subexpression symbols, change some formatting
  engine/CMakeLists.txt
  engine/src/Symbol/Hyperbolic.cuh
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/InverseTrigonometric.cuh
  engine/src/Symbol/SubexpressionCandidate.cu
  engine/src/Symbol/SubexpressionCandidate.cuh
  engine/src/Symbol/SubexpressionVacancy.cu
  engine/src/Symbol/SubexpressionVacancy.cuh
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/SymbolType.cuh
  engine/src/Symbol/TreeIterator.cuh
Labels: engine, devops

Rework kernels, add calculation loop (incomplete)
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/main.cu
Labels: engine, devops

Add comments
  engine/src/Symbol/ExpressionArray.cuh
Labels: engine, devops

Fix potential device memory dereference on host
  engine/src/Utils/DeviceArray.cuh
Labels: engine, devops

Progress towards expressions of integrals (incomplete)
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/SubexpressionCandidate.cu
  engine/src/Symbol/SubexpressionCandidate.cuh
  engine/src/Symbol/SubexpressionVacancy.cuh
  engine/src/Utils/Cuda.cu
  engine/src/main.cu
Labels: engine, devops

Further progress towards IE (redundand expression and integral marking)
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/main.cu
Labels: engine, devops

replace std functions with fmt
  engine/.clangd
  engine/CMakeLists.txt
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Unknown.cu
  engine/src/main.cu
Labels: engine, devops

replace string operators with fmt::format
  engine/src/Symbol/Substitution.cu
Labels: engine, devops

change parser's printf to exceptions
  engine/src/Parser/Parser.cu
Labels: engine, devops

Add frontend test Github Action
  .github/workflows/frontend-tests.yaml
Labels: devops

Update names
  .github/workflows/frontend-tests.yaml
Labels: devops

Update name
  .github/workflows/frontend-tests.yaml
Labels: devops

Add repository interface
  front/cusymint_client/cusymint_client_interface/.gitignore
  front/cusymint_client/cusymint_client_interface/analysis_options.yaml
  front/cusymint_client/cusymint_client_interface/lib/cusymint_client_interface.dart
  front/cusymint_client/cusymint_client_interface/pubspec.yaml
Labels: front, devops

Fix typos
  front/cusymint_client/cusymint_client_interface/lib/cusymint_client_interface.dart
Labels: front, devops

Add client mock
  front/cusymint_client/cusymint_client_mock/.gitignore
  front/cusymint_client/cusymint_client_mock/analysis_options.yaml
  front/cusymint_client/cusymint_client_mock/lib/cusymint_client_mock.dart
  front/cusymint_client/cusymint_client_mock/lib/src/cusymint_client_mock_base.dart
  front/cusymint_client/cusymint_client_mock/pubspec.yaml
  front/cusymint_client/cusymint_client_mock/pubspec_overrides.yaml
Labels: front, devops

Export interfaces
  front/cusymint_client/cusymint_client_mock/lib/cusymint_client_mock.dart
Labels: front, devops

Add next steps of integration loop (incomplete)
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/SubexpressionVacancy.cuh
  engine/src/main.cu
Labels: engine, devops

Add client cubit
  front/cusymint_app/lib/features/home/blocs/client_cubit.dart
  front/cusymint_app/lib/main.dart
  front/cusymint_app/pubspec.lock
  front/cusymint_app/pubspec.yaml
  front/cusymint_app/pubspec_overrides.yaml
  front/cusymint_client/cusymint_client_mock/lib/cusymint_client_mock.dart
Labels: front, devops

remove fmt::format from __device__ function
  engine/src/Symbol/Macros.cuh
Labels: engine, devops

add to_tex() in header files
  engine/src/Symbol/Addition.cuh
  engine/src/Symbol/Constants.cuh
  engine/src/Symbol/ExpanderPlaceholder.cuh
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/InverseTrigonometric.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Power.cuh
  engine/src/Symbol/Product.cuh
  engine/src/Symbol/Solution.cuh
  engine/src/Symbol/Substitution.cuh
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/Trigonometric.cuh
  engine/src/Symbol/Unknown.cuh
  engine/src/Symbol/Variable.cuh
Labels: engine, devops

Fix typo
  .github/workflows/frontend-tests.yaml
Labels: devops

Add simple flow
  front/cusymint_app/lib/features/home/blocs/client_cubit.dart
  front/cusymint_app/lib/features/home/pages/home_page.dart
  front/cusymint_app/pubspec.lock
  front/cusymint_app/pubspec.yaml
  front/cusymint_app/pubspec_overrides.yaml
Labels: front, devops

Add Strings class
  front/cusymint_l10n/assets/translations/en.json
  front/cusymint_l10n/assets/translations/pl.json
  front/cusymint_l10n/lib/cusymint_l10n.dart
  front/cusymint_l10n/lib/src/strings.dart
Labels: front, devops

Add TextEditingController
  front/cusymint_app/lib/features/home/pages/home_page.dart
Labels: front, devops

Refactor ClientCubit
  front/cusymint_app/lib/features/home/blocs/client_cubit.dart
  front/cusymint_app/lib/features/home/pages/home_page.dart
Labels: front, devops

Add ClientCubit tests
  front/cusymint_app/lib/features/home/blocs/client_cubit.dart
  front/cusymint_app/test/features/home/blocs/client_cubit_test.dart
Labels: front, devops

Expand solveIntegral tests
  front/cusymint_app/lib/features/home/blocs/client_cubit.dart
  front/cusymint_app/test/features/home/blocs/client_cubit_test.dart
Labels: front, devops

Heuristic application, decrease const duplication, improve interfaces
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Symbol.cuh
  engine/src/Utils/DeviceArray.cuh
  engine/src/main.cu
Labels: engine, devops

add to_tex() function bodies with redundant brackets
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Product.cuh
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Substitution.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Unknown.cu
  engine/src/main.cu
Labels: engine, devops

make to_tex() smarter with brackets
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/Constants.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/main.cu
Labels: engine, devops

Finish all calculation loop kernels (still some things left to do)
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Utils/DeviceArray.cuh
  engine/src/main.cu
Labels: engine, devops

.github/labeler.yml:

front:
  - front/**/*

engine:
  - engine/**/*

devops:
  - .github/**/*
  - '*'
  - '!.gitignore'
