Repository Cusymint/cusymint, pull requests merged in 2022-10, with the labels that each got.

#23 20 Dartowe testy na githubie
  .github/workflows/frontend-tests.yaml
Labels: devops, front

#15 Replace std text functions with fmt
  engine/.clangd
  engine/CMakeLists.txt
  engine/src/Parser/Parser.cu
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Unknown.cu
  engine/src/main.cu
Labels: devops, engine

#30 Returning output in TeX format
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Addition.cuh
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/Constants.cuh
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/ExpanderPlaceholder.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/InverseTrigonometric.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Power.cuh
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Product.cuh
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/Solution.cuh
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Substitution.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Trigonometric.cuh
  engine/src/Symbol/Unknown.cu
  engine/src/Symbol/Unknown.cuh
  engine/src/Symbol/Variable.cuh
  engine/src/main.cu
Labels: devops, engine

#35 Fix labeler
  .github/labeler.yml
Labels: devops

#27 26 dodanie modeli i interfejsu repozytorium jako paczki
  front/cusymint_client/cusymint_client_interface/.gitignore
  front/cusymint_client/cusymint_client_interface/analysis_options.yaml
  front/cusymint_client/cusymint_client_interface/lib/cusymint_client_interface.dart
  front/cusymint_client/cusymint_client_interface/pubspec.yaml
  front/cusymint_client/cusymint_client_mock/.gitignore
  front/cusymint_client/cusymint_client_mock/analysis_options.yaml
  front/cusymint_client/cusymint_client_mock/lib/cusymint_client_mock.dart
  front/cusymint_client/cusymint_client_mock/lib/src/cusymint_client_mock_base.dart
  front/cusymint_client/cusymint_client_mock/pubspec.yaml
  front/cusymint_client/cusymint_client_mock/pubspec_overrides.yaml
Labels: devops, front

#36 Fix case with addition in difference
  engine/src/Symbol/Addition.cu
Labels: engine

#14 Integral expressions and integration loop
  engine/.gitignore
  engine/CMakeLists.txt
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/Hyperbolic.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/InverseTrigonometric.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/SubexpressionCandidate.cu
  engine/src/Symbol/SubexpressionCandidate.cuh
  engine/src/Symbol/SubexpressionVacancy.cu
  engine/src/Symbol/SubexpressionVacancy.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/SymbolType.cuh
  engine/src/Symbol/TreeIterator.cuh
  engine/src/Symbol/Unknown.cu
  engine/src/Symbol/Unknown.cuh
  engine/src/Utils/CompileConstants.cuh
  engine/src/Utils/Cuda.cu
  engine/src/Utils/Cuda.cuh
  engine/src/Utils/DeviceArray.cuh
  engine/src/main.cu
Labels: engine

#40 Refactor heuristics
  engine/CMakeLists.txt
  engine/src/Evaluation/Heuristic/Heuristic.cu
  engine/src/Evaluation/Heuristic/Heuristic.cuh
  engine/src/Evaluation/Heuristic/SplitSum.cu
  engine/src/Evaluation/Heuristic/SplitSum.cuh
  engine/src/Evaluation/Heuristic/SubstituteEToX.cu
  engine/src/Evaluation/Heuristic/SubstituteEToX.cuh
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Evaluation/KnownIntegral/ConstantIntegral.cu
  engine/src/Evaluation/KnownIntegral/ConstantIntegral.cuh
  engine/src/Evaluation/KnownIntegral/KnownIntegral.cu
  engine/src/Evaluation/KnownIntegral/KnownIntegral.cuh
  engine/src/Evaluation/KnownIntegral/PowerFunction.cu
  engine/src/Evaluation/KnownIntegral/PowerFunction.cuh
  engine/src/Evaluation/KnownIntegral/SimpleArctan.cu
  engine/src/Evaluation/KnownIntegral/SimpleArctan.cuh
  engine/src/Evaluation/KnownIntegral/SimpleExponent.cu
  engine/src/Evaluation/KnownIntegral/SimpleExponent.cuh
  engine/src/Evaluation/KnownIntegral/SimpleSineCosine.cu
  engine/src/Evaluation/KnownIntegral/SimpleSineCosine.cuh
  engine/src/Evaluation/KnownIntegral/SimpleVariable.cu
  engine/src/Evaluation/KnownIntegral/SimpleVariable.cuh
  engine/src/Evaluation/StaticFunctions.cu
  engine/src/Evaluation/StaticFunctions.cuh
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Utils/Cuda.cuh
  engine/src/Utils/Meta.cuh
  engine/src/main.cu
Labels: engine

#43 Add logarithms and square root
  engine/CMakeLists.txt
  engine/src/Evaluation/Integrate.cuh
  engine/src/Parser/Parser.cu
  engine/src/Parser/Parser.cuh
  engine/src/Parser/Scanner.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Logarithm.cu
  engine/src/Symbol/Logarithm.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Power.cuh
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/SymbolType.cuh
  engine/src/main.cu
Labels: engine

#42 Feature/is function of overhaul
  engine/src/Evaluation/Heuristic/SubstituteEToX.cu
  engine/src/Evaluation/StaticFunctions.cu
  engine/src/Evaluation/StaticFunctions.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/Constants.cuh
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/ExpanderPlaceholder.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/InverseTrigonometric.cuh
  engine/src/Symbol/Logarithm.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/SubexpressionCandidate.cu
  engine/src/Symbol/SubexpressionVacancy.cu
  engine/src/Symbol/SubexpressionVacancy.cuh
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Substitution.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Trigonometric.cuh
  engine/src/Symbol/Unknown.cu
  engine/src/Symbol/Variable.cu
  engine/src/main.cu
Labels: engine

#51 Add GoogleTest
  engine/CMakeLists.txt
  engine/test/test.cu
Labels: engine

#49 Docker na silnik
  engine/Dockerfile
Labels: engine

#48 Add meta operators
  engine/src/Evaluation/KnownIntegral/ConstantIntegral.cu
  engine/src/Evaluation/KnownIntegral/KnownIntegral.cu
  engine/src/Evaluation/KnownIntegral/KnownIntegral.cuh
  engine/src/Evaluation/KnownIntegral/PowerFunction.cu
  engine/src/Evaluation/KnownIntegral/SimpleArctan.cu
  engine/src/Evaluation/KnownIntegral/SimpleExponent.cu
  engine/src/Evaluation/KnownIntegral/SimpleSineCosine.cu
  engine/src/Evaluation/KnownIntegral/SimpleVariable.cu
  engine/src/Evaluation/StaticFunctions.cu
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/OperatorTemplates.cuh
  engine/src/Utils/Meta.cuh
  engine/src/main.cu
Labels: engine
