Repository Cusymint/cusymint, pull requests merged in 2022-09, with the labels that each got.

#7 Feature/atoms
  front/cusymint_app/lib/features/home/pages/home_page.dart
  front/cusymint_app/lib/main.dart
  front/cusymint_app/test/widget_test.dart
  front/cusymint_assets/.gitignore
  front/cusymint_assets/.metadata
  front/cusymint_assets/assets/svg/integral_icon.svg
  front/cusymint_assets/assets/svg/logo_wide.svg
  front/cusymint_assets/lib/cusymint_assets.dart
  front/cusymint_assets/lib/gen/assets.gen.dart
  front/cusymint_assets/pubspec.yaml
  front/cusymint_storybook/lib/main.dart
  front/cusymint_storybook/lib/stories/common_atoms.dart
  front/cusymint_storybook/lib/stories/common_molecules.dart
  front/cusymint_storybook/pubspec.lock
  front/cusymint_storybook/pubspec_overrides.yaml
  front/cusymint_ui/lib/cusymint_ui.dart
  front/cusymint_ui/lib/src/atoms/atoms.dart
  front/cusymint_ui/lib/src/atoms/card.dart
  front/cusymint_ui/lib/src/atoms/logo.dart
  front/cusymint_ui/lib/src/atoms/text.dart
  front/cusymint_ui/lib/src/atoms/text_field.dart
  front/cusymint_ui/lib/src/molecules/carousel.dart
  front/cusymint_ui/lib/src/molecules/molecules.dart
  front/cusymint_ui/lib/src/organisms/organisms.dart
  front/cusymint_ui/lib/src/styleguide/colors.dart
  front/cusymint_ui/lib/src/styleguide/styleguide.dart
  front/cusymint_ui/pubspec.yaml
  front/cusymint_ui/pubspec_overrides.yaml
  melos.yaml
Labels: front

#10 Move flutter .gitignore to front dir
  .gitignore
  front/.gitignore
Labels: devops

#8 Feature/tex rendering
  front/cusymint_app/dart_test.yaml
  front/cusymint_app/lib/features/home/pages/home_page.dart
  front/cusymint_app/lib/features/tex_rendering/pages/example_integrals_page.dart
  front/cusymint_app/lib/features/tex_rendering/tex_rendering.dart
  front/cusymint_app/lib/features/tex_rendering/widgets/tex_view.dart
  front/cusymint_app/lib/features/tex_rendering/widgets/widgets.dart
  front/cusymint_app/pubspec.lock
  front/cusymint_app/pubspec.yaml
  front/cusymint_app/test/features/tex_rendering/goldens/tex_view_group_test.png
  front/cusymint_app/test/features/tex_rendering/tex_view_test.dart
  front/cusymint_app/test/flutter_test_config.dart
  front/cusymint_integrals/lib/src/symbols/functions/functions.dart
  front/cusymint_ui/lib/src/organisms/organisms.dart
  melos.yaml
Labels: front

#11 Języki
  front/cusymint_app/ios/Runner/Info.plist
  front/cusymint_app/lib/features/l10n/pages/l10n_example_page.dart
  front/cusymint_app/lib/main.dart
  front/cusymint_app/macos/Flutter/GeneratedPluginRegistrant.swift
  front/cusymint_app/pubspec.lock
  front/cusymint_app/pubspec.yaml
  front/cusymint_app/pubspec_overrides.yaml
  front/cusymint_l10n/.gitignore
  front/cusymint_l10n/.metadata
  front/cusymint_l10n/analysis_options.yaml
  front/cusymint_l10n/assets/translations/en.json
  front/cusymint_l10n/assets/translations/pl.json
  front/cusymint_l10n/lib/cusymint_l10n.dart
  front/cusymint_l10n/lib/src/l10n.dart
  front/cusymint_l10n/pubspec.yaml
Labels: devops, front

#5 Parser
  engine/CMakeLists.txt
  engine/src/Parser/Parser.cu
  engine/src/Parser/Parser.cuh
  engine/src/Parser/Scanner.cu
  engine/src/Parser/Scanner.cuh
Labels: devops, engine

#13 DeviceArray, ExpressionArray, improvements
  engine/.clang-format
  engine/.clangd
  engine/CMakeLists.txt
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Utils/Cuda.cu
  engine/src/Utils/DeviceArray.cuh
  engine/src/main.cu
Labels: devops, engine
