Repository Cusymint/cusymint, pull requests merged in 2022-11, with the labels that each got.

#52 Non-recursive `simplify()` and `compress_reverse_to()`, expression extending
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Logarithm.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/SubexpressionCandidate.cu
  engine/src/Symbol/SubexpressionVacancy.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Substitution.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Unknown.cu
  engine/src/Symbol/Variable.cu
  engine/src/Utils/StaticStack.cuh
  engine/src/main.cu
Labels: engine

#67 Fix/simplify
  engine/src/Evaluation/KnownIntegral/ConstantIntegral.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/Substitution.cu
  engine/src/main.cu
Labels: engine

#62 Fix no heuristic hang
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
Labels: engine

#58 Integration of products with constants
  engine/CMakeLists.txt
  engine/src/Evaluation/Heuristic/BringOutConstantsFromProduct.cu
  engine/src/Evaluation/Heuristic/BringOutConstantsFromProduct.cuh
  engine/src/Evaluation/Heuristic/Heuristic.cu
  engine/src/Evaluation/Heuristic/Heuristic.cuh
  engine/src/Evaluation/Heuristic/SubstituteEToX.cu
  engine/src/Evaluation/Integrate.cu
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/TreeIterator.cuh
  engine/src/main.cu
Labels: engine

#65 Solution tree collapsing
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/Solution.cuh
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Substitution.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/main.cu
  engine/test/test.cu
Labels: engine

#68 Remove integrals project
  front/cusymint_app/.gitignore
  front/cusymint_integrals/.gitignore
  front/cusymint_integrals/analysis_options.yaml
  front/cusymint_integrals/lib/cusymint_integrals.dart
  front/cusymint_integrals/lib/src/symbols/elements/element.dart
  front/cusymint_integrals/lib/src/symbols/elements/elements.dart
  front/cusymint_integrals/lib/src/symbols/elements/known_constant.dart
  front/cusymint_integrals/lib/src/symbols/elements/numeric_constant.dart
  front/cusymint_integrals/lib/src/symbols/elements/variable.dart
  front/cusymint_integrals/lib/src/symbols/functions/functions.dart
  front/cusymint_integrals/lib/src/symbols/operators/addition.dart
  front/cusymint_integrals/lib/src/symbols/operators/division.dart
  front/cusymint_integrals/lib/src/symbols/operators/multiplication.dart
  front/cusymint_integrals/lib/src/symbols/operators/operators.dart
  front/cusymint_integrals/lib/src/symbols/operators/substraction.dart
  front/cusymint_integrals/lib/src/symbols/operators/two_arguments_operator.dart
  front/cusymint_integrals/lib/src/symbols/symbol.dart
  front/cusymint_integrals/lib/src/symbols/symbols.dart
  front/cusymint_integrals/pubspec.yaml
  front/cusymint_integrals/test/elements/known_constant_test.dart
  front/cusymint_integrals/test/elements/numeric_constant_test.dart
  front/cusymint_integrals/test/elements/variable_test.dart
  front/cusymint_integrals/test/operators/addition_test.dart
  front/cusymint_integrals/test/operators/division_test.dart
  front/cusymint_integrals/test/operators/multiplication_test.dart
  front/cusymint_integrals/test/operators/substraction_test.dart
  front/cusymint_integrals/test/symbol_mock.dart
Labels: front

#73 Zmiana `==` na `compare_trees`
  engine/src/Symbol/Power.cu
Labels: engine

#72 Całkowite usunięcie rekurencji z `simplify()`
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Product.cuh
Labels: engine

#71 Server
  .vscode/settings.json
  engine/CMakeLists.txt
  engine/src/Server/JsonFormatter.cu
  engine/src/Server/JsonFormatter.cuh
  engine/src/Server/Server.cu
  engine/src/Server/Server.cuh
  engine/src/Solver/CachedParser.cu
  engine/src/Solver/CachedParser.cuh
  engine/src/Solver/Expression.cu
  engine/src/Solver/Expression.cuh
  engine/src/Solver/Solver.cu
  engine/src/Solver/Solver.cuh
  engine/src/main.cu
  engine/src/main_server.cu
  front/cusymint_storybook/pubspec_overrides.yaml
  front/cusymint_ui/pubspec_overrides.yaml
Labels: engine, front

#75 Run clang-format on the whole project
  engine/src/Evaluation/Heuristic/BringOutConstantsFromProduct.cu
  engine/src/Evaluation/Heuristic/Heuristic.cu
  engine/src/Evaluation/KnownIntegral/ConstantIntegral.cuh
  engine/src/Parser/Parser.cu
  engine/src/Parser/Parser.cuh
  engine/src/Server/JsonFormatter.cuh
  engine/src/Server/Server.cu
  engine/src/Server/Server.cuh
  engine/src/Solver/CachedParser.cu
  engine/src/Solver/CachedParser.cuh
  engine/src/Solver/Expression.cu
  engine/src/Solver/Expression.cuh
  engine/src/Solver/Solver.cu
  engine/src/Solver/Solver.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Hyperbolic.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Logarithm.cu
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
Labels: engine

#76 Tests commons and known integrals
  engine/CMakeLists.txt
  engine/Dockerfile
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Evaluation/KnownIntegral/SimpleArctan.cu
  engine/test/IntegralCommons.cu
  engine/test/IntegralCommons.cuh
  engine/test/KnownIntegral.cu
  engine/test/test.cu
Labels: engine

#74 Ekran z ustawieniami
  front/cusymint_app/lib/features/home/pages/home_page.dart
  front/cusymint_app/lib/features/home/pages/welcome_page.dart
  front/cusymint_app/lib/features/navigation/app_router.dart
  front/cusymint_app/lib/features/navigation/app_router.gr.dart
  front/cusymint_app/lib/features/navigation/navigation.dart
  front/cusymint_app/lib/features/navigation/widgets/wired_drawer.dart
  front/cusymint_app/lib/features/settings/pages/settings_page.dart
  front/cusymint_app/pubspec.lock
  front/cusymint_app/pubspec.yaml
  front/cusymint_l10n/assets/translations/en.json
  front/cusymint_l10n/assets/translations/pl.json
  front/cusymint_l10n/lib/src/strings.dart
  front/cusymint_storybook/lib/stories/common_molecules.dart
  front/cusymint_storybook/lib/stories/common_organisms.dart
  front/cusymint_storybook/lib/stories/templates_stories.dart
  front/cusymint_ui/lib/src/molecules/molecules.dart
  front/cusymint_ui/lib/src/molecules/setting_tile.dart
  front/cusymint_ui/lib/src/organisms/organisms.dart
  front/cusymint_ui/lib/src/organisms/settings_list.dart
  front/cusymint_ui/lib/src/templates/settings_page_template.dart
  front/cusymint_ui/lib/src/templates/templates.dart
  front/cusymint_ui/lib/src/templates/welcome_page_template.dart
Labels: front

#78 Testy parsera + poprawki
  engine/CMakeLists.txt
  engine/src/Parser/Parser.cu
  engine/src/Parser/Parser.cuh
  engine/src/Parser/Scanner.cu
  engine/src/Parser/Scanner.cuh
  engine/src/Server/Server.cu
  engine/src/Solver/CachedParser.cu
  engine/src/Solver/Solver.cu
  engine/src/Symbol/Constants.cu
  engine/src/Utils/Cuda.cu
  engine/src/Utils/Cuda.cuh
  engine/src/main.cu
  engine/test/IntegralCommons.cu
  engine/test/Parser/Parser.cu
  engine/test/Parser/Scanner.cu
Labels: engine

#83 Simplification tests
  engine/CMakeLists.txt
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Product.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/test/Simplify.cu
Labels: engine

#87 Heuristic test and match
  engine/CMakeLists.txt
  engine/src/Evaluation/Heuristic/SplitSum.cu
  engine/src/Evaluation/KnownIntegral/PowerFunction.cu
  engine/src/Evaluation/KnownIntegral/SimpleArctan.cu
  engine/src/Evaluation/KnownIntegral/SimpleExponent.cu
  engine/src/Evaluation/KnownIntegral/SimpleVariable.cu
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/Product.cu
  engine/src/Utils/Meta.cuh
  engine/test/Heuristic.cu
  engine/test/IntegralCommons.cu
  engine/test/IntegralCommons.cuh
  engine/test/KnownIntegral.cu
Labels: engine

#93 Metaoperatory `Same` i `PatternPair`
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
Labels: engine

#89 About screen
  front/cusymint_app/lib/features/about/pages/about_page.dart
  front/cusymint_app/lib/features/navigation/app_router.dart
  front/cusymint_app/lib/features/navigation/app_router.gr.dart
  front/cusymint_app/lib/features/navigation/widgets/wired_drawer.dart
  front/cusymint_app/lib/features/settings/pages/settings_page.dart
  front/cusymint_app/pubspec.lock
  front/cusymint_app/pubspec.yaml
  front/cusymint_l10n/assets/translations/en.json
  front/cusymint_l10n/assets/translations/pl.json
  front/cusymint_l10n/lib/src/strings.dart
  front/cusymint_storybook/lib/stories/common_organisms.dart
  front/cusymint_storybook/lib/stories/templates_stories.dart
  front/cusymint_ui/lib/src/atoms/text.dart
  front/cusymint_ui/lib/src/organisms/about_widget.dart
  front/cusymint_ui/lib/src/organisms/authors_widget.dart
  front/cusymint_ui/lib/src/organisms/organisms.dart
  front/cusymint_ui/lib/src/templates/about_template.dart
  front/cusymint_ui/lib/src/templates/settings_page_template.dart
  front/cusymint_ui/lib/src/templates/templates.dart
Labels: front

#81 Skracanie funkcji wymiernych
  engine/CMakeLists.txt
  engine/src/Evaluation/Integrate.cuh
  engine/src/Parser/Parser.cu
  engine/src/Symbol/Addition.cuh
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/Polynomial.cu
  engine/src/Symbol/Polynomial.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Product.cuh
  engine/src/Symbol/Solution.cuh
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/SymbolType.cuh
  engine/src/Utils/CompileConstants.cuh
  engine/src/Utils/OptionalNumber.cuh
  engine/src/main.cu
  engine/test/Parser/Scanner.cu
  engine/test/Simplify.cu
Labels: engine

#104 Feature/tree sorting
  engine/CMakeLists.txt
  engine/src/Evaluation/Integrate.cu
  engine/src/Parser/Parser.cu
  engine/src/Solver/Solver.cu
  engine/src/Solver/Solver.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Logarithm.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/Polynomial.cu
  engine/src/Symbol/Polynomial.cuh
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/SubexpressionCandidate.cu
  engine/src/Symbol/SubexpressionVacancy.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/SymbolType.cuh
  engine/src/Symbol/TreeIterator.cuh
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Unknown.cu
  engine/src/Symbol/Variable.cu
  engine/src/Utils/Cuda.cu
  engine/src/Utils/Cuda.cuh
  engine/src/Utils/Order.cuh
  engine/test/.clangd
  engine/test/Heuristic.cu
  engine/test/IntegralCommons.cu
  engine/test/Parser/Parser.cu
  engine/test/Simplify.cu
  engine/test/Symbol.cu
Labels: engine

#99 Testy metaoperatorów
  engine/CMakeLists.txt
  engine/src/Symbol/MetaOperators.cuh
  engine/test/Symbol/MetaOperators.cu
Labels: engine

#108 Translate Integrate.cu to English
  engine/src/Evaluation/Integrate.cu
Labels: documentation, engine

#111 Better substitutions and universal substitution
  engine/.gitignore
  engine/CMakeLists.txt
  engine/src/Evaluation/Heuristic/Heuristic.cu
  engine/src/Evaluation/Heuristic/SubstituteEToX.cu
  engine/src/Evaluation/Heuristic/UniversalSubstitution.cu
  engine/src/Evaluation/Heuristic/UniversalSubstitution.cuh
  engine/src/Evaluation/StaticFunctions.cu
  engine/src/Evaluation/StaticFunctions.cuh
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Addition.cuh
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/Integral.cuh
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/Polynomial.cu
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Product.cuh
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/SubexpressionVacancy.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/Unknown.cu
  engine/src/Symbol/Variable.cu
  engine/src/Utils/Meta.cuh
  engine/src/Utils/Pair.cuh
  engine/test/.clangd
  engine/test/Heuristic.cu
  engine/test/IntegralCommons.cu
  engine/test/Parser/Parser.cu
  engine/test/Simplify.cu
  engine/test/Symbol/MetaOperators.cu
Labels: engine

#115 Feature/rewrite integrate cu
  engine/CMakeLists.txt
  engine/src/Evaluation/Integrate.cu
  engine/src/Evaluation/Integrate.cuh
  engine/src/Evaluation/Integrator.cu
  engine/src/Evaluation/Integrator.cuh
  engine/src/Evaluation/IntegratorKernels.cu
  engine/src/Evaluation/IntegratorKernels.cuh
  engine/src/Evaluation/StaticFunctions.cu
  engine/src/Solver/Solver.cu
  engine/src/Symbol/ExpressionArray.cuh
  engine/src/Utils/DeviceArray.cuh
  engine/src/main.cu
  engine/test/IntegralCommons.cu
  engine/test/Simplify.cu
  engine/test/Symbol.cu
  engine/test/Symbol/MetaOperators.cu
Labels: engine

#110 Liczenie pochodnych
  engine/CMakeLists.txt
  engine/src/Symbol/Addition.cu
  engine/src/Symbol/Addition.cuh
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/ExpanderPlaceholder.cu
  engine/src/Symbol/Integral.cu
  engine/src/Symbol/InverseTrigonometric.cu
  engine/src/Symbol/Logarithm.cu
  engine/src/Symbol/Macros.cuh
  engine/src/Symbol/MetaOperators.cuh
  engine/src/Symbol/Polynomial.cu
  engine/src/Symbol/Power.cu
  engine/src/Symbol/Product.cu
  engine/src/Symbol/Solution.cu
  engine/src/Symbol/SubexpressionCandidate.cu
  engine/src/Symbol/SubexpressionVacancy.cu
  engine/src/Symbol/Substitution.cu
  engine/src/Symbol/Symbol.cu
  engine/src/Symbol/Symbol.cuh
  engine/src/Symbol/Trigonometric.cu
  engine/src/Symbol/Unknown.cu
  engine/src/Symbol/Variable.cu
  engine/test/Derivatives.cu
  engine/test/Symbol/MetaOperators.cu
Labels: engine

#106 Error handling
  .vscode/settings.json
  engine/CMakeLists.txt
  engine/src/Server/JsonFormatter.cu
  engine/src/Server/JsonFormatter.cuh
  engine/src/Server/JsonSolver.cu
  engine/src/Server/JsonSolver.cuh
  engine/src/Server/Logger.cu
  engine/src/Server/Logger.cuh
  engine/src/Server/ResponseBuilder.cu
  engine/src/Server/ResponseBuilder.cuh
  engine/src/Server/Server.cu
  engine/src/Server/Server.cuh
  engine/src/Server/SolverProcessManager.cu
  engine/src/Server/SolverProcessManager.cuh
  engine/src/Symbol/Constants.cu
  engine/src/Symbol/Constants.cuh
  engine/src/main_server.cu
  front/cusymint_app/lib/features/client/client_factory.dart
  front/cusymint_app/lib/features/home/blocs/client_cubit.dart
  front/cusymint_app/pubspec.lock
  front/cusymint_app/pubspec.yaml
  front/cusymint_app/pubspec_overrides.yaml
  front/cusymint_app/test/features/client/client_factory_test.dart
  front/cusymint_app/test/features/home/blocs/client_cubit_test.dart
  front/cusymint_client/.gitignore
  front/cusymint_client/analysis_options.yaml
  front/cusymint_client/cusymint_client_interface/.gitignore
  front/cusymint_client/cusymint_client_interface/pubspec.yaml
  front/cusymint_client/cusymint_client_json_rpc/analysis_options.yaml
  front/cusymint_client/cusymint_client_json_rpc/lib/cusymint_client_json_rpc.dart
  front/cusymint_client/cusymint_client_json_rpc/pubspec_overrides.yaml
  front/cusymint_client/cusymint_client_json_rpc/test/cusymint_client_json_rpc_test.dart
  front/cusymint_client/cusymint_client_mock/.gitignore
  front/cusymint_client/cusymint_client_mock/analysis_options.yaml
  front/cusymint_client/cusymint_client_mock/lib/cusymint_client_mock.dart
  front/cusymint_client/cusymint_client_mock/pubspec.yaml
  front/cusymint_client/cusymint_client_mock/pubspec_overrides.yaml
  front/cusymint_client/lib/cusymint_client.dart
  front/cusymint_client/lib/src/interface.dart
  front/cusymint_client/lib/src/json_rpc.dart
  front/cusymint_client/lib/src/mock.dart
  front/cusymint_client/pubspec.yaml
  front/cusymint_client/test/json_rpc_test.dart
Labels: engine, front

#119 Fix Integrator.cu include, silent warnings
  engine/src/Symbol/Macros.cuh
  engine/test/Derivatives.cu
Labels: engine
